<!DOCTYPE html>
<html>

<head>
    <title>HOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <header>
        <div class="main">
            <div class="logo"><img src="logo.png"></div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="button">
            <a href="" class="btn1">CREATE ACCOUNT</a>
            <a href="<?= base_url('auth/login') ?>" class="btn2">LOGIN</a>
        </div>
        <div class="title">
            <h1>JOIN CKRAWALA</h1>
        </div>
    </header>

</body>

</html>